<section id="container">
  <div class="post-box">
    <h1 id="main-title">Plasticidade neural e o benefício em busca-la</h1>
    <div class="misc__top">
      <div class="author">
        <span class="date">01/05/2023</span>
        <span class="name"> By Ronil Binabola</span>
      </div>
      <div class="language__buttons">
        <span class="language"> available in </span>
            <button href="#">English</button>
            <button href="#">Portuguese</button>
        </div>
    </div>
    <p class="blog-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie quam vitae nisl suscipit tincidunt. Duis in dignissim lorem, at lobortis elit. Nam id ipsum in mauris sollicitudin sagittis. Proin rhoncus vestibulum ante, a venenatis ex rutrum ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent sed neque sed velit venenatis maximus. Curabitur semper mauris at enim pharetra, ac porttitor ipsum placerat. Aenean viverra pretium dolor, sed suscipit turpis venenatis sed.

      Donec rhoncus lectus ac volutpat eleifend. Pellentesque dignissim tellus nec dolor pretium vestibulum. Morbi mattis metus tortor, ac posuere eros fermentum eget. Aliquam erat volutpat. Vivamus nunc tortor, rhoncus congue rutrum in, laoreet sed lacus. Vestibulum convallis velit euismod, condimentum ligula a, tempus nisl. Duis in commodo mi.

      Maecenas non lectus lacus. Curabitur maximus vestibulum auctor. Phasellus feugiat posuere est, id efficitur ex laoreet sit amet. In quis orci non nisl mattis vehicula nec quis neque. Nullam id urna a risus maximus tempus. Cras mollis erat neque, at commodo diam feugiat vitae. Nullam commodo lobortis quam vitae condimentum. Etiam turpis libero, lacinia at lobortis sit amet, lacinia id lacus. Suspendisse non ligula nunc. Aliquam erat volutpat. Sed quam elit, sollicitudin ut tristique sed, rhoncus vitae tellus. Mauris aliquet, risus quis placerat consectetur, arcu lacus tempus est, in tincidunt erat nunc auctor orci. Curabitur ac eros ac sem tincidunt eleifend non vitae turpis. Etiam consequat diam a odio fermentum mattis. Suspendisse venenatis neque quis vulputate viverra. Donec sit amet pretium elit.</p>
  </div>
  </section>
